body {
  font-family: "MADE TOMMY", sans-serif;
  height: 100vh;
  overflow: hidden;
}
body {
  background-color: #706c4d;
}
.nav-main {
  position: fixed !important;
  z-index: 9999;
  width: 100%;
}
.nav-main h3 {
  color: #fff;
  font-weight: 300;
}
.yellow {
  color: #fe9801 !important;
}
.main-header {
  background-color: #706c4d;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.main-header .btn-style {
  background-color: transparent;
  color: #fff !important;
  border: 2px solid #fff;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
}
.main-header .btn-style:hover {
  background-color: #fff;
  color: #212529 !important;
}
.bubble-images {
  position: absolute;
}
.img-1 {
  width: 500px;
  top: -15rem;
  left: -7rem;
  z-index: 99;
}
.img-2 {
  z-index: 99;
  right: -7rem;
  top: -6rem;
}
.img-3 {
  left: 0;
  bottom: -7rem;
  z-index: 99;
}
.img-4 {
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 400px;
}
.img-5 {
  width: 400px;
  left: 30rem;
  top: -9rem;
  z-index: 99;
}
a {
  text-decoration: none !important;
  color: #fff !important;
  cursor: pointer;
}
.navbar div .nav-2 {
  display: inline-block;
  margin-bottom: 1rem;
}
.about-col-1 .navbar .nav-2 .nav-link,
.info-container ul li a {
  padding: 5px 0;
  font-size: 12px;
}
.about-col-1 .navbar {
  padding: 0;
}
.about-col-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
a:hover {
  color: #fe9801 !important;
}
.socials-container a i {
  color: #fff;
  margin-right: 1rem;
  font-size: 12px;
}
.socials-container a:hover i {
  color: #fe9801 !important;
}
.ajax-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.ajax-container .box {
  background-color: #666346;
  border-radius: 12px;
  padding: 23px;
  width: 100%;
}
.ajax-container > * {
  color: #fff;
}
.visit-web-btn {
  float: right;
}
h2.header-style {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: relative;
}
h2.header-style::after {
  content: "";
  position: absolute;
  left: 55%;
  width: 100px;
  height: 2px;
  top: 50%;
  z-index: 999;
  background: #fe9801;
}
h2.header-style::before {
  content: "";
  position: absolute;
  right: 55%;
  width: 100px;
  height: 2px;
  top: 50%;
  z-index: 999;
  background: #fe9801;
}
.form-styles {
  margin: 0 10rem;
}

@media screen and (min-width: 767px) {
  .navbar div .nav-2 {
    width: 240px;
  }
  .navbar-items-container .nav-2 .nav-item {
    position: relative;
    margin-bottom: 7px;
  }
  .navbar-items-container .nav-2 .nav-item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fe9801;
    transition: all .3s ease-in-out;
  }
  .navbar-items-container .nav-2 .nav-item:hover::before {
    width: 7%;
  }
  .navbar-items-container .nav-2 .nav-item {
    transition: all .3s ease-in-out;
  }
  .navbar-items-container .nav-2 .nav-item:hover {
    padding-left: 17px;
  }
  .navbar-items-container .nav-2 .nav-item:hover .nav-link {
    margin-left: 5px;
  }
}
@media screen and (min-width: 365px) and (max-width: 568px) {
  .about-btn-styles {
    position: relative;
  }
  .about-btn-styles::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -9px;
    border-top: 1px solid #ffffff2e;
    width: 100%;
    box-shadow: 0px 2px 9px #fff;
    border-radius: 100%;
  }
  h2.header-style::before {
    right: 62%;
  }
  h2.header-style::after {
    left: 62%;
  }
  .form-styles {
    margin: 0;
  }
  .socials-container a i {
    margin-right: 2rem;
    font-size: 25px;
}
  #navbarSupportedContent {
    display: contents;
  }
  #navbarSupportedContent .mobileTransition {
    transition: transform 0.6s, box-shadow 0.6s ease-out;
  }
  #navbarSupportedContent .transitionNavBar {
    transform: translateX(15%);
    box-shadow: 30px 0px 65px #121212f9;
  }
  .navbar-collapse .navbar-items-container {
    background-color: #666346;
    padding: 3rem;
    position: absolute;
    top: 0;
    height: 100vh;
    transform: translateX(100%);
    width: 370px;
    z-index: -1;
    display: inline-block;
  }
  .about-col-1 .navbar .nav-2 .nav-link {
    font-size: 22px;
    padding: 10px 0;
  }
  body {
    overflow: auto;
  }
  .ajax-container {
    margin: 5rem 0;
    align-items: self-start;
  }
  .about-col-1 {
    display: contents;
  }
  .about-row {
    flex-direction: column;
  }
  .about-row .col-md-9 {
    overflow: scroll;
  }
  .about-col-1 .navbar.nav-styles-about-page {
    position: absolute;
    width: 50%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    right: 0;
    z-index: 99999;
  }
  .nav-main {
    width: 50%;
  }
  .line-container {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  .line {
    border-bottom: 2px solid #000;
    height: 10px;
  }
  .line-1 {
    width: 20px;
  }
  .socials-container {
    display: none;
  }

  .img-container img {
    width: 250px;
  }
  .img-1 {
    width: 450px;
    top: -15rem;
    left: -11rem;
  }
  .img-2 {
    width: 220px;
  }
  .img-3 {
    display: none;
  }
  .img-4 {
    bottom: -8rem;
    right: 11rem;
  }
  .img-5 {
    width: 300px;
    left: 14rem;
    top: 24rem;
  }
}
